{% extends "base.html.twig" %}

{% block title %}Ajouter | {{ parent() }}{% endblock %}

{% block content %}
  <section class="container pt-3">
    <h4 class="mb-3">Ajouter un article</h4>
    <div class="row">
    {% include "includes/article_form.html.twig" %}
    </div>
  </section>
{% endblock %}

